<% provide(:heading, "About") %>
<p>The Employee Activity Club is an organization that presents monthly outings and giveaways.  The goal of the EAC is to provide an outlet for employees to socialize and enjoy themselves outside of work.</p>