<% provide(:heading, "About") %>
<p>This is a sample web application for an activity club that organizes monthly outings and giveaways.  This proof-of-concept allows events to be planned and maintained through a CMS interface.</p>