<div class="flash flash_notice"><%= flash[:notice] if flash[:notice] %></div>
<div class="flash flash_success"><%= flash[:success] if flash[:success] %></div>
<div class="flash flash_error"><%= flash[:error] if flash[:error] %></div>