/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Header */

#headerWrapper {
	background-color: #e74c3c;
	margin: 0;
	padding: 0;
}

#headerZone {
	h1 {
		display: inline-block;
		color: white;
		padding: 5px 0;
		margin: 0;
		width: 30%;
		font-family: 'Lobster', cursive;
		&:link {
			color: white;
			text-decoration: none;
		}
		&:hover {
			text-decoration: none;
		}
		a {
			color: white;
		}
	}
}

#content, #headerZone {
	width: 60%;
	max-width: 640px;
	margin: 0 auto;
	padding: 0;
}

#navLinks {
	display: inline-block;
	float: right;
	width: 70%;
	padding: 0;
	margin: 0;
	.headerLink, #dropdown {
		margin-top: 15px;
		float: right;
		margin-left: 5px;
	}
}

.dropdown-menu {
	width: 25px;
	li {
		width: 100%;
		height: auto;
		padding-right: 5px;
	}
}

.dropdownItem {
	padding: 0;
	margin: 0;
	float: right;
	width: 100%;
	text-align: right;
}

.headerLink {
	color: white;
}

#dropdown li a {
	color: black;
}

#content {
	text-align: center;
}

/* Flash Messages */

.flash {
	margin-top: 10px;
}

.flash_success {
	color: green;
}

.flash_error {
	color: red;
}

.flash_notice {
	color: blue;
}



