<div id="headerWrapper">
	<div id="headerZone">
		<h1>EAC</h1>
		<div id="navLinks">
			<%= link_to 'About', '#' %>
			<%= link_to ' | ', '#' %>
			<%= link_to 'Profile', '#' %>
		</div>
	</div>
</div>